.search {
  padding-left: 30px;
  margin-top: 60px;
}

.heading {
  margin-top: 20px;
}

.loginpart {
  margin-top:60px ;
}

.searchbar input {
  margin-top: 0px;
  height: 35px;
}

.search button{
  position: absolute;
  border-radius: 0;
  height: 35px;
  left: 200px;
}

.fa-droplet {
  font-size: 60px;
  margin-left: 13%;
}

.heading1 {
  font-family: "Playfair Display", serif;
  color: rgb(5, 5, 144);
  letter-spacing: 8px;
}

.heading2 {
  font-family: "Marcellus", serif;
  color: lightskyblue;
  letter-spacing: 8px;
 margin-left: 10%;
 margin-top:-20px;
}

.cart {
  border-radius: 0;
  height: 30px;

}

.count {
  background-color: darkblue;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 0px 5px;
  margin-top: 2px;
  font-size: 10px;
  position: absolute;
  right: 40px;
  
}

.col-2,.blank {
  
  height: 50px;
  border-left: 1px solid rgb(220, 220, 220);
  border-top: 1px solid rgb(202, 200, 200);
  text-align: center;
  padding-top: 10px;
}

.link a{
  text-decoration: none;
  font-weight: bolder;
  color: gray;
}

.link a:link:active {
  color: rgb(2, 2, 77);
}

.link a:hover {
  color: rgb(2, 2, 77);
}

#home {
 
  display: flex;
  height: 700px;
  flex-direction: column;
}

#home::before {
  content: "";
   background: url(https://st2.depositphotos.com/1016676/6870/i/450/depositphotos_68708177-stock-photo-fisherman.jpg);
   height: 100%;
    background-size: cover;
    object-fit: fill;
}

.main {
 
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 60%;
  top: 500px;
}

.main button {

  width: 130px;
  background-color: darkblue;
  color: white;
  padding: 5px;
  border: none;
}

.main button:hover {
  background-color: white;
  color: darkblue;
  scale: 1.06;
}

.container1 img{
  width: 380px;
  height: 250px;
}

.container2 img {
  width: 380px;
  height: 515px;
}
.container3 img{
  width: 380px;
  height: 250px;
}

.card1{
  color: white;
  position: absolute;
 width: 250px;
  left: 150px;
  top: 50px;
 text-shadow: 2px 2px 2px black;
}
.card2{
  color: white;
  position: absolute;
  width: 250px;
  left: 160px;
  top: 250px;
 text-shadow: 2px 2px 2px black;
}



.gallery-body h5 {
  font-family:  "Playfair Display", serif;
  font-size: 30px;
}

.card-body a {
  background-color: transparent ;
  color:lightblue ;
  border: 1px solid lightblue;
  border-radius: 0px;
}

.collection img{
  width: 150px;
  height: 150px;
}

.contact-gallery img {
  height: 180px;
  width: 170px;
}