.search {
  padding-left: 30px;
  margin-top: 60px;
}

.heading {
  margin-top: 20px;
}


.loginpart {
  margin-top:60px ;
}

.searchbar input {
  margin-top: 0px;
  height: 35px;
}

.search button{
  position: absolute;
  border-radius: 0;
  height: 35px;
  left: 200px;
}

.fa-droplet {
  font-size: 60px;
  margin-left: 13%;
  margin-bottom: 10px;
}

.heading1 {
  font-family: "Playfair Display", serif;
  color: rgb(5, 5, 144);
  letter-spacing: 8px;
}

.heading2 {
  font-family: "Marcellus", serif;
  color: lightskyblue;
  letter-spacing: 8px;
 margin-left: 10%;
 margin-top:-20px;
}

.cart {
  border-radius: 0;
  height: 30px;

}

.count {
  background-color: darkblue;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 0px 5px;
  margin-top: 2px;
  font-size: 10px;
  position: absolute;
  right: 40px;
  
}

.col-2,.blank {
  
  height: 50px;
  border-left: 1px solid rgb(220, 220, 220);
  border-top: 1px solid rgb(202, 200, 200);
  text-align: center;
  padding-top: 10px;
}

.link a{
  text-decoration: none;
  font-weight: bolder;
  color: gray;
}

.link a:link:active {
  color: rgb(2, 2, 77);
}

.link a:hover {
  color: rgb(2, 2, 77);
}

#home {
 
  display: flex;
  height: 700px;
  flex-direction: column;
}

#home::before {
  content: "";
   background: url(https://st2.depositphotos.com/1016676/6870/i/450/depositphotos_68708177-stock-photo-fisherman.jpg);
   height: 100%;
    background-size: cover;
    object-fit: fill;
}

.main {
 
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 60%;
  top: 500px;
}

.main button {

  width: 130px;
  background-color: darkblue;
  color: white;
  padding: 5px;
  border: none;
}

.main button:hover {
  background-color: white;
  color: darkblue;
  scale: 1.06;
}

.container1 img{
  width: 380px;
  height: 250px;
}

.container2 img {
  width: 380px;
  height: 515px;
}
.container3 img{
  width: 380px;
  height: 250px;
}

.card1{
  color: white;
  position: absolute;
 width: 250px;
  left: 150px;
  top: 50px;
 text-shadow: 2px 2px 2px black;
}
.card2{
  color: white;
  position: absolute;
  width: 250px;
  left: 160px;
  top: 250px;
 text-shadow: 2px 2px 2px black;
}

.gallery-body h5 {
  font-family:  "Playfair Display", serif;
  font-size: 30px;
}

.card-body a {
  background-color: transparent ;
  color:lightblue ;
  border: 1px solid lightblue;
  border-radius: 0px;
}
.centered-hr {
  width: 50%; 
  margin: 20px auto; 
  border: 1px solid #6f6f6f;
}

.name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 0;
}

.price p {
  margin: 0 20px;
}

.price button {
  height: 40px;
  background-color: darkblue;
  color: white;
  border: 0;
}

.price button:hover{
  border: 1px solid darkblue;
  background-color: white;
  color: darkblue;
}

.slide {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid grey;
}

.mrp{
  text-decoration: line-through;
  color: grey;
}

.offer{
  font-size: x-large;
  font-weight: bold;
  color: lightskyblue;
}

.collections {
  margin: 100px ;
  text-align: center;
  
}

.drop{
  background-color: rgb(255, 255, 255);
  width: 30px;
  font-size: xx-large;
  position: absolute;
  left: 530px;
  z-index: 1;
}

.collection img{
  width: 150px;
  height: 150px;
}

.footer-contact{
  margin-top: 50px;
  padding-top: 10px;
  background-color: rgb(224, 226, 224);
}

.contact h2 {
  text-align: center;
}

.droplet {
  background-color: rgb(255, 255, 255);
  width: 30px;
  font-size: xx-large;
  position: absolute;
  left: 560px;
  z-index: 1;
}
.contact-gallery img {
  height: 180px;
  width: 200px;
}

.payment-img {
  margin-top: 50px;
  
}
.payment-img img{
  width: 50px;
  height: 30px;
  margin-right: 5px;
}

.footer-contact h6 {
  font-family: Playfair Display, serif;
  font-weight: bold;
  text-decoration: underline;
}

.footer-contact a {
  text-decoration: none;
}

.email {
 position: relative;
}

.envolope {
  position:absolute;
  top: 57px; 
  left:5px;
}

.mail {
  padding:5px 20px ;
  height: 40px;
}

.email button{
  position: absolute;
  border-radius: 0;
  height: 40px;
}